{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div id="cartDropdown" class="fixed top-40 right-0 bg-white h-[21rem] w-full sm:w-96 transform -translate-y-full transition-transform duration-300 ease-in-out z-30">
        <div>
            <div class="">
                <div class="flex justify-between items-center px-5">
                    <div class="flex gap-1">
                        <i class="ri-check-line text-sm"></i>
                        <p class="text-sm">Items added to your cart</p>
                    </div>
                    <div id="crossBtn">
                        <i class="ri-close-line font-light text-3xl cursor-pointer"></i>
                    </div>
                </div>
                <div class="flex px-5">
                    <div class="h-32 w-24 pt-2">
                        <img id="dropdownImage" src="" alt="">
                    </div>
                    <div class="ms-2 w-44 h-32 text-wrap pt-1">
                        <h1 id="dropdownName" class="text-sm"></h1>
                    </div>
                </div>
                <div class="px-5 mt-5 flex flex-col gap-2">
                    <a href="{% url 'cart' %}"><button class="border-black border-2 w-full h-12">View Cart</button></a>
                    <button class="w-full h-12 bg-black text-white">Check out</button>
                </div>
                <div>
                    <a href="{% url 'all_product' %}"><h3 class="text-center text-sm mt-3 underline">Continue Shopping</h3></a>
                </div>
            </div>
        </div>
    </div>

    <div id="productDetail" class="mt-32 flex flex-col w-full sm:flex-row md:justify-center px-5 pt-9">
        <div class="flex w-full md:w-96 justify-center">
            <img class="h-80 sm:h-[27rem] md:w-80 cursor-pointer sticky top-48" src="{{ detail.product_image.url }}" alt="">
        </div>
        <div class="sm:w-96 my-7 md:my-0">
            <p class="text-gray-400 text-xs">{{detail.product_brand}}</p>
            <h2 class="text-3xl sm:5xl">{{detail.product_name}}</h2>
            <p class="my-6">Rs.{{detail.product_price}}</p>
            <p>Quantity</p>
            <div class="border border-black flex justify-between items-center w-32 h-12 text-xl px-3 mt-2 mb-5">
                <p class="cursor-pointer">-</p>
                <p>2</p>
                <p class="cursor-pointer">+</p>
            </div>
            {% if request.user.is_authenticated %}
                <a href="{% url 'add_to_cart' detail.id %}"><button id="addCartBtn" data-product-img="{{ detail.product_image.url }}" data-product-name="{{ detail.product_name }}" class="border border-black h-14 w-full mb-4">Add to cart</button></a>
            {% else %}
                <a href="{% url 'login' %}"><button class="border border-black h-14 w-full mb-4">Please log in</button></a>
            {% endif %}
            <button class="border border-black h-14 w-full mb-4 bg-black text-white">Buy it now</button>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, amet. Optio, modi quis quasi nisi, autem minus iusto, inventore quaerat placeat facere tempore! Iure dolor similique recusandae eius iste, repellendus quibusdam maxime ipsa quam aliquid! Eius a incidunt reprehenderit error minus ea aspernatur pariatur itaque molestiae animi delectus molestias in ducimus, inventore officia! Eligendi eos rem aut porro ad architecto.</p>
            <div class="flex justify-between mt-3">
                <div class="flex gap-3 cursor-pointer">
                    <i class="ri-upload-2-line"></i>
                    <p>Share</p>
                </div>
            </div>
        </div>
    </div>

    <div class="w-full flex justify-center">
        <div class="w-full lg:w-[82rem] px-5">
            <h1 class="text-2xl mt-10">You may also like</h1>
            <div class="grid grid-cols-2 lg:grid-cols-4 mt-4 gap-2  ">
                {% for i in data %}
                    <div class="mt-5">
                            <a href="{% url 'product_detail' i.id %}"><img class="sm:h-80 sm:w-80" src="{{ i.product_image.url }}" alt=""></a>
                            <h1 class="mb-2">{{ i.product_name }}</h1>
                            <h1 class="mb-2">RS {{ i.product_price }}</h1>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}