{% extends 'base.html' %}
{% load static %}
{% load checkouttotal %}
{% block navbar %} {% endblock %}
{% block content %}

    <div class="flex justify-between px-5 sm:px-28 h-20 items-center ">
        <h1 class="font-bold text-2xl">CheckOut</h1>
        <a href="{% url 'cart' %}"><i class="ri-handbag-line text-xl"></i></a>
    </div>
    <hr>

    <!-- template for mobile and tablet  -->
    <div class="relative block lg:hidden">
        <div id="summary" class="h-16 flex justify-between items-center bg-[#F5F5F5] px-5 sm:px-28 cursor-pointer">
            <h1 class="text-xs" id="summaryText">Open summary</h1>
            <h1 class="font-bold">RS {{ data|checkoutTotal }}</h1>
        </div>
        <div id="summaryTable" class="mt-2 flex flex-col gap-3 px-5 sm:px-28">
            {% for i in data %}
            <div class="flex justify-between gap-2 mb-3">
                <div class="h-[3.8rem] border  rounded-lg w-16 flex justify-center bg-[#F5F5F5]">
                    <img class="h-full w-[80%]" src="{{ i.cart_product.product_image.url }}" alt="">
                </div>
                <div class="mt-2 w-60">
                    <h1 class="text-sm">{{ i.cart_product.product_name }}  x  <span class="font-bold">{{ i.quantity }}</span></h1>
                </div>
                <div class="mt-2 w-10 flex justify-end">
                    <h1 class="text-sm">{{ i.total_cost }}</h1>
                </div>
            </div>
            {% endfor %}
            <div class="flex justify-between">
                <div class="flex items-center">
                    <h1 class="text-sm">Subtotal -</h1>
                    <h1 class="text-sm ms-1">{{ cartCount }}</h1>
                </div>
                <div>
                    <h1 class="text-sm"> {{ data|totalPrice }} </h1>
                </div>
            </div>
            <div class="flex justify-between">
                <div class="flex items-center">
                    <h1 class="text-sm">Estimated taxes</h1>
                </div>
                <div>
                    <h1 class="text-sm">100</h1>
                </div>
            </div>
            <div class="flex justify-between">
                <div class="flex items-center">
                    <h1 class="text-md font-bold">Total</h1>
                </div>
                <div>
                    <h1 class="text-md font-bold">{{ data|checkoutTotal }}</h1>
                </div>
            </div>
        </div>
        <div id="green" class="absolute bg-white h-svh top-16 w-full transition-top transition-all duration-500 ease-in-out">

            <div class="mt-3 px-5 flex flex-col gap-5">
                <h1 class="text-xl font-bold sm:px-20">Delivery</h1>
                <h1>Delivery to - <span class="font-bold">{{ request.user }}</span></h1>
                {% if displayAddress %}

                {% else %}
                    <p>Add an Address</p>
                {% endif %}

                {% if displayAddress %}
                    {% for address in displayAddress %}
                    <div class="flex flex-col">
                        <p class="font-bold mb-2">{{ address.title }}</p>
                        <div class="flex gap-5">
                            <p>{{ address.block_number }} , {{ address.building }}</p>
                        </div>
                        <div class="flex gap-5">
                            <p>{{ address.street }} , {{ address.land_mark }}</p>
                        </div>
                        <div class="flex gap-5">
                            <p>{{ address.area }} - {{ address.pincode }}</p>
                        </div>
                        <p>{{ address.state }}</p>
                    </div>
                    <hr class="w-[80%]">
                    {% endfor %}
                {% else %}
                    <a href="{% url 'profile' %}"><button class="bg-black text-white px-2 py-1 rounded-md h-12 w-1/2 cursor-pointer focus:ouline-none focus:border-black">Add a Address</button></a>
                {% endif %}

                {% if displayAddress %}
                    <div class="flex justify-end px-2">
                        <button id="rzp-button1" class="bg-black text-white px-2 py-1 rounded-md h-12 w-44 cursor-pointer focus:ouline-none focus:border-black relative">Proced to payment</button>
                    </div>
                {% endif %}
            </div>

        </div>  
    </div>

    <!-- screen size bigger than tablet  -->
    <div class="hidden w-full lg:flex">
        <div class="w-1/2 ps-28 py-5 flex flex-col gap-5">
            <h1>Delivery to - <span class="font-bold">{{ request.user }}</span></h1>
            {% if displayAddress %}

            {% else %}
                <p>Add an Address</p>
            {% endif %}
            {% if displayAddress %}
                {% for address in displayAddress %}
                <div class="flex flex-col">
                    <p class="font-bold mb-2">{{ address.title }}</p>
                    <div class="flex gap-5">
                        <p>{{ address.block_number }} , {{ address.building }}</p>
                    </div>
                    <div class="flex gap-5">
                        <p>{{ address.street }} , {{ address.land_mark }}</p>
                    </div>
                    <div class="flex gap-5">
                        <p>{{ address.area }} - {{ address.pincode }}</p>
                    </div>
                    <p>{{ address.state }}</p>
                </div>
                <hr class="w-[80%]">
                {% endfor %}
            {% else %}
                <a href="{% url 'profile' %}"><button class="bg-black text-white px-2 py-1 rounded-md h-12 w-44 cursor-pointer focus:ouline-none focus:border-black">Add a Address</button></a>
            {% endif %}
            <div class="flex justify-end px-5">
                <button id="rzp-button-laptop" class="bg-black text-white px-2 py-1 rounded-md h-12 w-44 cursor-pointer focus:ouline-none focus:border-black">Proced to payment</button>
            </div>
        </div>
        <div class="bg-[#F5F5F5] w-1/2 h-[89vh] pe-28">
            <div class="w-full">
                <div class="py-5 ps-5">
                    {% for i in data %}
                    <div class="flex justify-between items-center gap-2 mb-3">
                        <div class="flex items-center gap-3">
                            <div class="h-[3.8rem] border rounded-lg w-16 flex justify-center bg-[#F5F5F5]">
                                <img class="h-full w-[80%]" src="{{ i.cart_product.product_image.url }}" alt="">
                            </div>
                            <h1 class="text-sm">{{ i.cart_product.product_name }}  x  <span class="font-bold">{{ i.quantity }}</span></h1>
                        </div>
                        <div class="mt-2 w-10 flex justify-end">
                            <h1 class="text-sm">{{ i.total_cost }}</h1>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="ps-5 mt-5">
                    <div class="flex justify-between">
                        <div class="flex items-center">
                            <h1 class="text-sm">Subtotal -</h1>
                            <h1 class="text-sm ms-1">Count</h1>
                        </div>
                        <div>
                            <h1 class="text-sm">{{ data|totalPrice }}</h1>
                        </div>
                    </div>
                    <div class="flex justify-between mt-2">
                        <div class="flex items-center">
                            <h1 class="text-sm">Estimated taxes</h1>
                        </div>
                        <div>
                            <h1 class="text-sm">100</h1>
                        </div>
                    </div>
                    <div class="flex justify-between mt-2">
                        <div class="flex items-center">
                            <h1 class="text-md font-bold">Total</h1>
                        </div>
                        <div>
                            <h1 class="text-md font-bold">{{ data|checkoutTotal }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const summary = document.querySelector("#summary")
        const green = document.querySelector("#green")
        const name = document.querySelector("#name")
        const summaryTable = document.querySelector("#summaryTable")
        const summaryText = document.querySelector("#summaryText")
        let isOpen = false

        summary.addEventListener("click",()=>{

            const topHeight = summaryTable.offsetTop
            const tableHeight = summaryTable.offsetHeight
            const totalHeight = topHeight + tableHeight
            
            if(isOpen){
                green.style.top = '64px'
                summaryText.textContent = "Show summary"
            }
            else{
                green.style.top = `${totalHeight}px`
                summaryText.textContent = "Hide summary"
            }
            isOpen = !isOpen
        })
    </script>
    
    <!-- js code for razorpay  -->
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
    
    document.getElementById("rzp-button1").onclick = function(e){
        fetch("{% url 'procedToPay' %}")
        .then((response) => response.json())
        .then((data) =>{
            // console.log(data.payment);
            
            var options = {
                "key": data.RAZORPAY_KEY_ID, // Enter the Key ID generated from the Dashboard
                "amount": data.payment.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                "currency": data.payment.currency,
                "name": "Acme Corp",
                "description": "Test Transaction",
                "image": "https://example.com/your_logo",
                "order_id": data.payment.order_id,
                "callback_url": "",
                "theme": { "color": "#3399cc" }
            };
            var rzp1 = new Razorpay(options);
            rzp1.open();
            e.preventDefault();
        })
        .catch((err) => {
            console.log(err);
        })
    }

    document.getElementById("rzp-button-laptop").onclick = function(e){
        fetch("{% url 'procedToPay' %}")
        .then((response) => response.json())
        .then((data) =>{
            // console.log(data.payment);
            
            var options = {
                "key": data.RAZORPAY_KEY_ID, // Enter the Key ID generated from the Dashboard
                "amount": data.payment.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                "currency": data.payment.currency,
                "name": "Acme Corp",
                "description": "Test Transaction",
                "image": "https://example.com/your_logo",
                "order_id": data.payment.order_id,
                "callback_url": "",
                "theme": { "color": "#3399cc" }
            };
            var rzp1 = new Razorpay(options);
            rzp1.open();
            e.preventDefault();
        })
        .catch((err) => {
            console.log(err);
        })
    }
    
    </script>

{% endblock %}