{% load static tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Showdown</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<!-- Google fonts link -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
		<!-- remix icon cdn -->
		<link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
		{% tailwind_css %}
	</head>

	<style>
		*{
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			font-family: 'Raleway', serif;
		}
		html,body{
			height: 100%;
			width: 100%;
		}
		#banner{
        	background-image: url("{% static 'D:\Pankaj CLG\showdown\main\static\img\banner.png' %}");
    	}	
	</style>

	<body>

		{% block navbar %}
		<nav class="h-40 w-full fixed inset-0 bg-white z-50">
			<p class="h-10 py-2 text-center">Welcome to {site_name}</p>
			<hr>
			<nav class="h-28 w-full flex items-center justify-between px-1 lg:px-20">
				<ul class="">
					<button id="toggleBtn" class="w-20 h-28 lg:hidden">
						<i class="ri-menu-line text-xl hover:font-bold"></i>
					</button>
					<ul class="hidden lg:flex w-80 justify-around">
						<li class="cursor-pointer hover:font-bold">
							<a href="{% url 'all_product' %}">Products</a>
						</li>
						<li class="cursor-pointer hover:font-bold">Contact</li>
						<li class="cursor-pointer hover:font-bold">About us</li>
					</ul>
				</ul>
				<div>
					<a href="{% url 'index' %}"><img class="h-16 sm:h-20" src="{% static 'D:\Pankaj CLG\showdown\main\static\img\logo.png' %}" alt=""></a>
				</div>
				<ul class="flex w-20 lg:w-80 lg:px-24 justify-evenly items-center">
					<a href="{% url 'cart' %}"><li class="cursor-pointer text-xl hover:font-bold"><i class="ri-handbag-line"></i></li></a>
					{% if request.user.is_authenticated %}
						<p class="hidden lg:flex text-center lg:hover:font-bold cursor-pointer">Hello {{ request.user }}</p>
					{% else %}
						<a href="{% url 'login' %}"><li class="cursor-pointer text-xl hidden lg:block hover:font-bold"><i class="ri-user-line"></i></li></a>
					{% endif %}
					</ul>
			</nav>
			<div id="sidebar" class="relataive sticky z-50 h-[100vh] w-full md:w-96 bg-white flex flex-col justify-between transform -translate-x-full transition-transform duration-300 ease-in-out lg:hidden">
				<ul class="h-52 flex flex-col gap-6 p-7 font-normal">
					<li>
						{% if request.user.is_authenticated %}
							<p>Hello {{ request.user }}</p>
							<i class="ri-user-line cursor-pointer text-xl  flex gap-5 items-center">
								<a href="{% url 'logout' %}"><p class="text-md hover:font-bold">Logout</p></a>
							</i>
						{% else %}
							<i class="ri-user-line cursor-pointer text-xl  flex gap-5 items-center">
								<a href="{% url 'login' %}"><p class="text-md hover:font-bold">Login/Signup</p></a>
							</i>
						{% endif %}
					</li>
					<li class="cursor-pointer hover:font-bold"><a href="{% url 'all_product' %}">Products</a></li>
					<li class="cursor-pointer hover:font-bold">Contact</li>
					<li class="cursor-pointer hover:font-bold">About us</li>
				</ul>
				
			</div>
		</nav>
		<hr>
		{% endblock %}
		
		{% block content %} {% endblock %}
			
		
		<script src="{% static 'D:\Pankaj CLG\showdown\main\static\js\script.js' %}"></script>

	</body>
</html>
