{% extends 'base.html' %}

{% block navbar %} {% endblock %}

{% block content %}

    <div class="h-[90vh] sm:h-screen w-full flex flex-col gap-5 justify-center items-center">
        <div class="text-center">
            <h1 class="font-thin text-3xl underline">Forgot Password</h1>
            <p class="text-sm mt-2 w-64 sm:w-96">OTP will been send to your registered email address</p>
        </div>
        <form method="POST" action="{{ form_action }}" class="flex flex-col items-center gap-2">
            {% csrf_token %}
            {% if form %}
                {{ form.username }}
                {{ form.email }}
                {{ form.otp }}
                {{ form.password }}
                {{ form.confirm_password }}
            {% else %}
                {{ form.username }}
                {{ form.email }}
                {{ form.otp }}
                {{ form.password }}
                {{ form.confirm_password }}
            {% endif %}
            <input type="submit" value="Submit" class="bg-black text-white px-5 py-1 rounded-md h-12 w-1/2 cursor-pointer focus:ouline-none focus:border-black">
        </form>
        {% if otp == 'verify-otp' %}
            <p><button type="button" onclick="window.location.reload();">Resend OTP</button></p>
        {% endif %}
    </div>

{% endblock %}