{% extends 'base.html' %}

{% block navbar %} {% endblock %}

{% block content %}

    <div class="h-svh flex justify-center items-center">
        <div class="w-[35rem] flex flex-col items-center justify-center gap-10">

            <div class="flex items-center gap-2">
                <i class="ri-user-line text-2xl"></i>
                <h1 class="font-thin text-3xl underline"></i>User Login</h1>
            </div>

            <form method="post" action="" class="w-full flex flex-col items-center justify-center gap-3">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Enter username" onfocus="this.placeholder = ''" onblur="this.placeholder='Enter username'" class="h-12 w-72 sm:w-96 rounded-md cursor-pointer focus:ouline-none focus:border-black" id="username">
                <input type="password" name="password" placeholder="Enter password" onfocus="this.placeholder = ''" onblur="this.placeholder='Enter password'" minlength="8" class="h-12 w-72 sm:w-96 rounded-md cursor-pointer" id="password">
                <input type="submit" value="Submit" class="bg-black text-white px-5 py-1 rounded-md h-12 w-1/2 cursor-pointer focus:ouline-none focus:border-black">
            </form>
            <div class="flex flex-col items-center -mt-5 gap-2">
                <a href="{% url 'registration' %}"><p class="underline">Not a User still ?</p></a>
                <a href="{% url 'forgot_password' %}"><input type="submit" value="Forgot Password" class="bg-black text-white px-5 py-1 rounded-md h-12 w-full cursor-pointer focus:ouline-none focus:border-black"></a>
            </div>
        </div>
    </div>

{% endblock %}